/* Custom CSS */

.example-content .row > .col,
.example-content .row > [class^=col-] {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(86,61,124,.15);
    border: 1px solid rgba(86,61,124,.2);
}

.highlight {
    padding: 1.5rem;
    margin: 1rem 0;
    background: none;
}
