//
// Theme assets
//

// Custom theme variables

@import "variables";

//
// Bootstrap stylesheets, comment unused asset imports to reduce main.min.css file
//

// Default Bootstrap

@import "bootstrap/bootstrap";


// Syntax highlighting

@import "syntax";

/* Custom CSS */

.example {
    @extend .card;

    .example-content {
        @extend .card-block;

        // display: block !important;

        padding: 1rem;

        @include media-breakpoint-up(sm) {
            padding: 1.5rem;
        }

        >.row {
            margin-right: 0;
            margin-left: 0;
        }

        .row {
            >.col,
            >[class^=col-] {
                padding-top: .75rem;
                padding-bottom: .75rem;
                background-color: rgba(86,61,124,.15);
                border: 1px solid rgba(86,61,124,.2);
            }
            +.row {
                margin-top: 1rem;
            }
        }
    }

    .example-code {
        @extend .card-footer;

        padding: 1.75rem;

        .highlight {
            padding: 0;
            margin: 0;
            background: none;

            pre {
                margin: 0;
                padding: 0;
            }
        }
    }
}

.example-content {
}
